div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
div.container > div.screen{
    position: relative;
    display: flex;
    justify-content: center;
}

div.container > div.screen > #pointer-canvas{
    position:absolute;
}
